# Auto detect text files and perform LF normalization
* text=auto

# AviSynth stuff should really be using Windows line endings

*.avs text eol=crlf
*.avsi text eol=crlf

# Binary files
*.jpg binary
*.png binary

# Custom for Visual Studio
*.cs     diff=csharp
*.sln text eol=crlf

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
